/* Reponsive Layout - Project 0703 */

/**Mobile default styles** FIRST */

/*body background green all viewports */
body{
    font-family: Palatino, Times, serif;
    background-color: #ddffdd; /*green*/
    margin: 20px;
    font-size: 14px;
    line-height: 1.6;
}

ul{
    padding-left: 20px;
    margin-top: 0;
}

h1, h2, h3{
    color:  #009999;/* teal */
}

h2, h3{
    margin-bottom: 0;
}
/* home about us & contact us */
a{
    font-weight: bold;
    color: red;
    text-decoration: none;
}
/*navigation only */
a:hover{
    color: blue;
}

/* header - only the area where the logo and nav links rest */
header{
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 2px solid #ddddff;   /* purple devider*/
}


/* #site_container = white container
spans >4 columns in desktop view
spans 3 columns in tablet view
spans 1 column in mobile
*/

/*white container*/
#site_container{
    padding: 20px;
    max-width: 1100px;
    margin: 0 auto;
    background: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 5px;
}

/*blue container*/
#main_content {
  background: #ddffff; /* blue */
  /*padding: */
  /*max-width:*/
}
#logo {
  /*iteself did not center*/
}

h1 #logo {
/*not sure how to center for mobile */
}

/*  home about and contact us area logo and buttons sit */
#main_nav{
    text-align: center;
}

/* pink navigation labels - span 2 of 3 */
#main_nav a{
    display: block;
    padding: 10px 2%;
    background: #ffdddd; /*pink*/
    margin-bottom: 5px;
    border-radius: 5px;
    width: 95%;

}
/*makes pink navigation buttons turn purple */
#main_nav a:hover{
    background: #ddddff; /*purple*/
}


/*yellow container*/
#sidebar_content {
  background: #ffffdd;
}
/*footer orange container*/
#site_footer {
  background: #ffddaa;/*orange*/
  /*needs  same as nav buttons*/
  font-size: 0.8.em;/*
  padding: 20px?;
  margin-top: 20px;
  text-align: center;
  flex-basis: 100%;

  */
}

#site_footer a {

}


/** 600 breakpoint**/
@media screen and ( min-width: 600px ){
   #main_nav a{
        flex-basis: 45%;
    }

    /*add breakpoints here to

Style items to create 3 columns
    */
}
/** DESKTOP STYLES **/
@media screen and ( min-width: 1100px ){
    nav {
        flex-wrap: nowrap;
    }

    #main_nav a{
        flex-basis: 20%;
    }
}
